*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

#contactMe{
/*     
    height: 100vh; */
    
   
    
  }
 #allForm{}
    
 @media (min-width:768px) {
     #allIcon{
    position: relative;
    top: 200px;

 }
 }

 
  .form{
    /* width: 550px;
    height: 500px;
    padding: 60px;
    margin: 40px; 
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: black;
    border-style:dashed;
    border-radius: 10px;
  }
 
  .Icons{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
   
   
  }
  .boxIcons{
    padding: 40px;
  }
  h2{
    /*display: flex;*/
    justify-content: center;
    text-align: center;
    margin: 50px;
    
  }
  .feedback-input {
    color:white;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid black;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:90%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 90%;
    background:beige;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:black;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#CC4949; }
  
  