/* *{
  border: black solid 2px;
 } */


h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
  }

#contactMe{
     
    height: 100vh;
    width: 100%;
   
  }
  #main_contact{
    width: 50%;
    height: 100vh;
  }
  .form{
    
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: black;
    border-style:dashed;
    border-radius: 10px; 
    height: 70vh;
    width: 60vh;
  }
  #allForm{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    gap: 250px;
    margin-left: 130px;
  }

 
  .Icons{
    
    display: flex;
    flex-direction: row;
    justify-content: center;
   
   
  }
  .boxIcons{
    padding: 40px;
  }
  .contact-h2{
    /*display: flex;*/
    justify-content: center;
    text-align: center;
    color: black;
    

    
    
  }
  .feedback-input {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid black;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:90%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #CC4949; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 90%;
    background:black;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:white;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#CC4949; }
  
  #allIcon{
    height: 300px;
    position: relative;
    top: 100px;
    
 }
 .map{
  height: 300px;
  height: 250px;
 }


 @media  (max-width:757px){
 
#contactMe{
     
  height: 100vh;
  width: 100%;
 
}
#allForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200vh;
  width:100%;
  /* background-color: #CC4949; */
  margin-left: 0px;
  
 
}
.form{
    
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
  border: black;
  border-style:dashed;
  border-radius: 10px; 
  height: 70vh;
  width: 40vh;
}

.Icons{
    
  /* display: flex;
  flex-direction: row;
  justify-content: center; */

 
}
#allIcon{
  
  width: 300px;
  position: relative;
  bottom: 200px;

 
  
 
  
}

}  





  