*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
#home{
  
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100vh; 
  position: relative;
  top: 100px;
 

}

#b1 p{
  width: 400px;
  text-align: justify;
  color: black;
  
}

@media(min-width:375px) and (max-width:450px){
  
  h3{
    font-size: 15px;
    margin-left: 20px;
  }

  #b1 p{
    width: 310px;
    text-align: justify;
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
  }
  .btns{
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }
  .btn1{
    margin-bottom: 30px;
    font-size: 10px;
    margin-left: 50px;
   
  
  }
  .btn2{
    font-size: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  #home{
  
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 90vh; 
    position: relative;
    top:50px;
  
   
  
  }
}

/*Smaller mobile screens*/
@media (min-width:320px) and (max-width: 389px){
  h3{
    font-size: 15px;
    /* margin-left: 10px; */
  }

  #b1 p{
   
    width: 250px;
    text-align: justify;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
  }
  .btns{
    display: flex;
    flex-direction: row;
    font-size: 10px;
  }
  .btn1{
    margin-bottom: 30px;
    font-size: 10px;
    margin-left: 25px; 
   
  
  }
  .btn2{
    font-size: 10px;
    margin-bottom: 30px;
   margin-left: 10px;
  }
  #home{
  
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 100vh; 
    position: relative;
    top:50px;
  
   
  
  }

  
}
