*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
 
  .backImage, #contactMe   ,#experiences, #skillHeading{
     background-image: url("https://img.freepik.com/free-vector/bubbles-beige-background_53876-99549.jpg?w=900&t=st=1694769832~exp=1694770432~hmac=414cff8574d34b47cb5f22b2b9a87a9e21b3a00fb3b7559c23d6bd1fd1fbcc4f");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    height:100vh;
    width: 100%;
    
  } 
  
#home{
  /*display: flex;*/
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  height: 100vh; 
 

}

#b1 p{
  width: 400px;
  text-align: justify;
  
}
/*#b1 a{
  margin: 20px;
  padding: 10px; 
  text-decoration: none;
  color: black;
  border-radius: 8px;
  background-color: beige;
 
}*/
@media(min-width:390px) and (max-width:480px){
  body{
    overflow-x: hidden;
  }
  #home{
    /*display: flex;*/
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    height: 100vh; 
   
  
  }
  #b1 p{
    width: 300px;
    text-align: justify;
  }
  .btns{
    display: flex;
    align-items: center;
    flex-direction: column;
 
    
  }
  .btn1{
    margin-bottom: 20px;
   
  
  }
  .btn2{
    
 
  }
 

  
}
