#homeOpen{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  
#home{
  
  justify-content: space-around;
  flex-direction: row;
  width: 1200px;
  height: 100vh; 
  position: relative;
  top: 100px;
 

}

#b1 p{
  width: 400px;
  text-align: justify;
  color: black;
  
}

@media screen and (max-width:844px) {

  #home{
  
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50px;
  height: 100vh; 

 

}

#b1 p{
  width: 250px;
  height: 100px;
  text-align: justify;
  color: black;
  padding: 10%;
  margin: 0 0 5px;
  font-size: 10px;
  
}
#picture{
height: 230px;
width: 230px;
margin: 20px;
}

#homeOpen{
  justify-content: space-around;
  flex-direction: row;
  width: 120px;
  height: 50vh; 
  position: relative;
  box-sizing: border-box; 
}

 .btns{
  /* margin: 10px 0px 5px 20px; */
  display: flex;
  flex-direction: row;
   /* gap: 10px; */


 }
 .btn1{
  
  margin-right: 20px;
  height: 30px;
  font-size: 8px;

  
 

 }
 .btn2{
 
  margin-right: 20px;
  height: 30px;
  font-size: 8px;

  

  
 

 }



 .text-start h3{
margin: 10px 10px 20px 10px;
width: 300px;
font-size: 20px;
 }

}

